/* Reset and global styles */
* {
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
}

body {
  font-family: serif;
  background-color: aliceblue;
}

/* Header and title styles */
header {
  padding: 10px 0;
  text-align: center;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}


nav {
  align-content: left;
  border: 2px dimgray dotted;
}

.title {
  font-family: cursive;
  font-size: 24px;
  text-align: center;
}

h1 {
  text-align: center;
}

ul li {
  margin-top: 20px;
  font-family: cursive;
  font-size: 20px;
}

ol li {
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px
}

/* Main container styles */
.container {
  background-color: aliceblue;
  padding: 10px 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.timeline {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.timeline-container {
  width: 33vw;
  display: flex;
}

.french-rev-img {
  width: 450px;
  position: relative;
  contain: content
}

.sade-img {
  width: 350px;
  position: relative;
  contain: content
}

.film-img {
  width: 120px;
  contain: content
}

.cc-img {
  width: 40px;
  contain: content;
}

/* Left and right timeline items styles */
.marquis-de-sade {
  width: 100%;
  left: 51%
}

.french-rev {
  /* position: absolute; */
  width: 100%;
  right: 51%;
}

.timeline-items {
  padding: 20px;
  margin-bottom: 50px;
  width: 100%;
}

.timeline-items.left {
  text-align: left;
}

.timeline-items.right {
  text-align: right;
}

/* Timeline item styles */

.timeline-year {
  font-size: 24px;
  font-weight: bold;
  display: block;
  padding: 10px;
  border: 1px solid black;
  margin-top: 20px
}

.timeline-month {
  font-size: 18px;
  display: block;
}

.timeline-description {
  background-color: lightgray;
  font-family: serif;
  padding: 10px;
  border: 1px dotted black;
}

/* Timeline bar styles */
.timeline-bar {
  width: 15px;
  background-color: navy;
}
